@import url('https://marketplace.canva.com/EAD2962NKnQ/2/0/1600w/canva-rainbow-gradient-pink-and-purple-zoom-virtual-background-_Tcjok-d9b4.jpg');
 * { margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
body{
    
    
    background-color:  rgb(110, 110, 174);
    
}
.container{
    width: 95%;
    margin: auto;
}
.nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 25px 0;
}
.user-input{
    width: 350px;
    text-align: center;
}
.user-input input{
    width: 80%;
    outline: none;
    padding: 8PX;
border: 1px solid black;
border-bottom-left-radius: 5px;
border-top-left-radius: 5px;

}
.user-input button{
    cursor: pointer;
    padding: 8px;
    width: fit-content;
    transition:1s;
    outline: none;
    background-color: rgb(221, 214, 214)
}
.user-input button:hover{
    background-color: transparent;
    color: black;
}
.comment{
width: 500px;
margin: auto;
}
.item{
    background-color: rgb(158, 163, 118);
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    border-radius: 2px;
    padding: 16px;
    color: black;
    margin-top: 10px;
    font-size:1rem;
    text-transform: uppercase;
}
.item:hover{
    box-shadow: 0 0 20px rgb(200, 255, 0);
    border: 1px solid rgb(200, 255, 0);
}

